<section>
  <div class="wrapper">
    <div class="container-main">
      <div class="container-controls">
        <div class="radio-group-type">
          <span>Select Type: </span>
          <label for="color" (click)="!gameStarted && type = 'color'"
            ><input
              type="radio"
              [disabled]="gameStarted"
              [checked]="type === 'color'"
              name="type"
              value="color"
            />
            Color</label
          >
          <label for="icon" (click)="!gameStarted && type = 'icon'"
            ><input
              type="radio"
              [disabled]="gameStarted"
              [checked]="type === 'icon'"
              name="type"
              value="icon"
            />
            Icon</label
          >
          <label for="image" (click)="!gameStarted && type = 'image'"
            ><input
              type="radio"
              [disabled]="gameStarted"
              [checked]="type === 'image'"
              name="type"
              value="image"
            />
            Image</label
          >
        </div>

        <div class="radio-group-size">
          <span>Select Size:</span>
          <label for="2*3" (click)="!gameStarted && changeGrid(2, 3)"
            ><input
              type="radio"
              [disabled]="gameStarted"
              [checked]="rowCount === 2 && colCount === 3"
              name="size"
            />
            2*3</label
          >
          <label for="3*4" (click)="!gameStarted && changeGrid(3, 4)"
            ><input
              type="radio"
              [disabled]="gameStarted"
              [checked]="rowCount === 3 && colCount === 4"
              name="size"
            />
            3*4</label
          >
          <label for="4*5" (click)="!gameStarted && changeGrid(4, 5)"
            ><input
              type="radio"
              [disabled]="gameStarted"
              [checked]="rowCount === 4 && colCount === 5"
              name="size"
            />
            4*5</label
          >
        </div>
        <div class="container-control-buttons">
          <button [disabled]="gameStarted" (click)="randomizeGame()">
            Random
          </button>
          <button (click)="resetGame()">Reset</button>
        </div>
      </div>
      <div class="container-board">
        <div
          class="container-grid"
          *ngIf="rowCount && colCount"
          appGrid
          [rows]="rowCount"
          [cols]="colCount"
          [ngStyle]="{
            pointerEvents: clickable ? 'all' : 'none'
          }"
        >
          <ng-template [ngIf]="type === 'color'">
            <div
              [ngClass]="{
                open: opened.includes(item),
                close: !opened.includes(item)
              }"
              class="container-grid-item"
              *ngFor="let item of array"
              (click)="handleClick(item)"
            >
              <div class="grid-item">
                <div
                  class="color-card"
                  [ngStyle]="{
                    backgroundColor: colors[item.index]
                  }"
                ></div>
              </div>
              <div class="grid-item-back">
                <h1>MG</h1>
              </div>
            </div>
          </ng-template>
          <ng-template [ngIf]="type === 'icon'">
            <div
              [ngClass]="{
                open: opened.includes(item),
                close: !opened.includes(item)
              }"
              class="container-grid-item"
              *ngFor="let item of array"
              (click)="handleClick(item)"
            >
              <div class="grid-item">
                <img
                  src="../assets/Icons/icon{{ item.index }}.png"
                  alt="ICON"
                />
              </div>
              <div class="grid-item-back">
                <h1>MG</h1>
              </div>
            </div>
          </ng-template>
          <ng-template [ngIf]="type === 'image'">
            <div
              [ngClass]="{
                open: opened.includes(item),
                close: !opened.includes(item)
              }"
              class="container-grid-item"
              *ngFor="let item of array"
              (click)="handleClick(item)"
            >
              <div class="grid-item">
                <img
                  src="../assets/Images/img{{ item.index }}.jpg"
                  alt="ICON"
                />
              </div>
              <div class="grid-item-back">
                <h1>MG</h1>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
      <div class="container-data">
        <div class="time">
          <span>Time Taken</span>
          <h2>
            {{ minute | number : "2.0-0" }} : {{ second | number : "2.0-0" }}
          </h2>
        </div>
        <div class="score">
          <span>Score</span>
          <h2>{{ score }}</h2>
        </div>
        <div class="cards">
          <span>Total Card Opens</span>
          <h2>{{ cardOpen }}</h2>
        </div>

        <div *ngIf="opened.length === array.length">
          <h1>Congratulations</h1>
          <h2>Accuracy: {{array.length/cardOpen | percent}}</h2>
          <p>Reset to Play again</p>
        </div>
      </div>
    </div>
  </div>
</section>
